.product-container {
    margin: 0 3%;
    
    .product-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: minmax(300px, 1fr);
        grid-gap: 30px;

        .product-card {
            border-radius: 5px;
            box-shadow: 0 0 45px #ccc;

            .product-card-img {
                margin-left: 5%;
                width: 85%;
                padding: 10%;
            }

            .product-card-title {
                text-align: center;
            }
        }
    }    
}

