.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 700px);
    grid-template-rows: auto;
    grid-gap: 1;

    .product-card {
        background-color: $card-color;

        .product-card-img {
            margin: auto;
            width: 500px;
        }
    }
}