
/*IMPORTS CSS RESET*/
@import "../scss/resets";

/*IMPORTS VARIABLES*/
@import "../scss/variables";

/*IMPORTS HEADER: (NAV, HERO)*/
@import "../scss/header";

/*IMPORTS SLIDER*/
@import "../scss/slider";

/*IMPORTS INDEX */
@import "../scss/index";

/* IMPORTS PRODUCTS */
@import "../scss/products";

/*IMPORTS FOOTER*/
@import "../scss/footer";

/*IMPORTS CONTACT*/
@import "../scss/contact";

/*IMPORTS ADMIN*/
@import "../scss/admin";

/* UNIVERAL STYLES */
* {
    box-sizing: border-box;
}

body, a {
    color: $font1-color;
}

a {
    font-weight: 600;
    text-decoration: none;

}